<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&family=Oswald:wght@400;500&family=Roboto&family=Roboto+Slab:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sumit Shukla's Vlog</h1>
    <%for(post of posts){ %>
   <div class="post">
    <h3 class="user">@<%=post.username%></h3>
    <h4 class="content"><%=post.content%></h4>
    <br>
    <a href="http://localhost:3000/posts/<%=post.id%>">See In Detail</a> &nbsp; &nbsp; &nbsp;
    <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
    <br><br>
    <form action="/posts/<%= post.id%>?_method=DELETE" method="post">
        <button class="delete">Delete Post</button>
    </form>
   </div>
        <%}%>

        <br><br><br>
        <a href="http://localhost:3000/posts/new" class="create">Create New Post</a>
</body>
</html>

